<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgriMart"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name=".ui.MyProfile.MyRating.ProductRatingActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyRating.MyRatingActivity"
            android:exported="false" />

        <service
            android:name=".data.service.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.ProductPage.ListProductRatingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Cart.PlaceOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Payment.VNPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyStore.EditProfileStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PostProduct.ProductPreviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.MyProfile.MyAddress.GetAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyAccount.EditNumberPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyAccount.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyAccount.VerifyWithPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyAccount.EditUserNameActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:replace="android:theme" />
        <activity
            android:name=".ui.MyProfile.MyAddress.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyAddress.NewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyStore.RegisterSellerActivity"
            android:exported="false"
            android:theme="@style/Theme.AgriMart" />
        <activity
            android:name=".ui.Account.VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyStore.MyStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.PurchasedOrders.PurchasedOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyAddress.MyAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyAccount.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Store.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfile.MyStore.OrderManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Homepage.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Cart.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProductPage.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PostProduct.YourProductListingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PostProduct.PostProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Account.EnterOTPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Account.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Account.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Homepage.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".ui.Account.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>